{% load static %}
{% include "Admin/header.html" %}


<div class="main-panel">

        <div class="content-wrapper">

          <div class="row">

 {% include "Admin/sidebar.html" %}

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><br><br>Assign Project manager</h5>
                  <p class="card-description">

                  </p>
                  <form class="forms-sample" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                      <label >Select Project </label>
                        <select  name="project" class="form-control">
                      <option selected>Choose Project </option>
                        {% for p in proj %}
                        <option value="{{p.projectid}}">{{ p.projectname }}</option>
                        {% endfor %}
                      </select>
                         </div>


                        <div class="form-group">
                      <label >Selelect Project Manager</label>
                        <select  name="employee" class="form-control">
                      <option selected>Choose Project manager</option>
                        {% for e in emp1 %}
                        <option  value="{{e.empid}}">{{ e.empname }}</option>
                        {% endfor %}
                      </select>


                    <div class="form-check form-check-flat form-check-primary">

                      <br>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>
                </div>
                  <a href="{% url 'projectassignview' %}"><button class="btn btn-primary mr-2">View Assigned Employees</button></a>
              </div>

            </div>
          </div>
        </div>
 </div>

{% include "Admin/footer.html" %}