{% load static %}
{% include "Admin/header.html" %}
<script src="{% static 'jquery.min.js' %}"></script>
<script>
$(document).ready(function () {
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{ csrf_token }}'
        }
    });

    $('#tdate').change(function () {
        var fdate = $('[name="fdate"]').val();
        var tdate = $(this).val();

        $.ajax({
            type: "POST",
            url: '{% url "fillprodata" %}',
            data: { fdate: fdate, tdate: tdate },
            dataType: "json",
            success: function (data) {
                $('#data').empty();
                $.each(data.project_data, function (index, pro) {
                    var tr = $('<tr>');
                    var td1 = $('<td>').text(index + 1);
                    var td2 = $('<td>').text(pro[0]); // Project Name
                    var td3 = $('<td>').text(pro[1]); // Status
                    var td4 = $('<td>').text(pro[2]); // Due Date
                    var td5 = $('<td>').text(pro[3]); // Project Task Description
                    tr.append(td1, td2, td3, td4, td5);
                    $('#data').append(tr);
                });
            }
        });
    });
});
</script>


<div class="main-panel">

        <div class="content-wrapper">

          <div class="row">

 {% include "Admin/sidebar.html" %}

            <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                         <h1 class="card-title" style="font-size: 50px;
                            font-weight: 600;
                            background-image: linear-gradient(to left, #553c9a, #b393d3);
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;">
                             <br><br>Get Report</h1>
                    <h6 class="card-title">Select Date </h6>
                  <p class="card-description">

                  </p>

<form action="{% url 'export_excel' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <label >From Date</label>
                <input type="date" name="fdate" class="form-control">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <label >To Date</label>
                <input type="date" name="tdate" class="form-control" id="tdate">

            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-md-end">
            <input type="submit" value="Export Excel" class="btn btn-primary" style="margin-bottom:10px">
    </div>
             </div>
          <div class="table-responsive">
                <table class="display expandable-table " style="width: 85%;">
                    <thead>
                        <tr>
                            <th>SlNo.</th>
                            <th>Project Name</th>
                            <th>Status</th>
                            <th>Due Date</th>
                            <th>Project Task</th>

                        </tr>
                    </thead>
                    <tbody id="data">
                    </tbody>
                </table>
                </div>
</form>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% include "Admin/footer.html" %}