<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'Login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Login/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'Login/css/style.css' %}">

    <title>Login to LOG-X</title>
  </head>
  <body>



  <div class="content" style="background-color:#5F5D9C; height: 100vh;" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'Login/images/undraw_remotely_2j6y.svg' %}" alt="Image" class="img-fluid" >
        </div>
        <div class="col-md-6 contents" >
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3 style="color:#1B1A55">Sign In To </h3>
                <img src="{% static 'Emp/assets/images/logo1.svg' %}" alt="logo" style="height:100px;" />
            </div>
            <form action="#" method="post">
              {% csrf_token %}
              <div class="form-group first">
                <label for="username"></label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password"></label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">

              </div>

              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption" style="color:#279EFF">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="{% url 'forgotpassword' %}" class="forgot-pass"style="color:#279EFF">Forgot Password</a></span>
              </div>

              <input type="submit" value="Log In" class="btn btn-block btn-primary">


            </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


    <script src="{% static 'Login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Login/js/popper.min.js' %}"></script>
    <script src="{% static 'Login/js/bootstrap.min.js' %}"></script>
    <script src="js/main.js"></script>
  </body>
</html>